a{
	text-decoration:none;
}
#content a:hover{
	text-decoration:underline;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
*{
	margin:0px auto;
	padding:0px;
}
li{
	list-style:none;
}
html{
	background:#193047;
	height:100%;
}
body{
	height:100%;
	width:1080px;
}
#dir{
	width:250px;
	float:left;
}
#search
{
	padding:3px 9px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	border:none;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	width:200px;
	padding:4px 0px 4px 14px;
	color:#818181;
	font-size:16px;
	margin:15px 0px 0px 18px;
	background:#1A263C; 
}
/*****************下面都是关于#dir的**********/
#dir .dire{
	background:transparent url("../bgimage/mainDirdeco.png") 0 25px repeat-x;
	text-align:center;
	width:200px;
	height:36px;
}
#dir ul{
	box-shadow:0 -1px 0 rgba(255, 255, 255, .45), 0 1px 2px rgba(190, 190, 190, .6);
	background:#16202B;
	color:#818181;
	font-size:19px;
	margin:40px 30px 2px 33px;
	padding:18px 17px;
	border-radius:4px;
}
#dir  li{
	border-right:1px solid #24262C;
	border-left:1px solid #24262C;
	padding:0px 14px;
	line-height:40px;
	display:block;
	position:relative;
	border-top:1px solid #383838;
	overflow:visible;
}
#dir .dirmenu {
	background:#0B0F16;
	color:#818181;
}
#dir li:hover{
	background:#356681;
	color:whitesmoke;
}
/**********************************/
#content{
	float:left;
	width:600px;
	background:#ECECEC;
	height:100%;
	overflow-y:auto;
	padding:20px 0;
}
#content p{
	margin:6px 15px;
}
input[type = "text"],input[type= "password"]{
	padding:6px;
	border-radius:15px;
	width:240px;
	outline:none;
}
#incheck{
	width:150px;
}
#check{
	margin-bottom:-10px;	;
}
input:focus{
	box-shadow:0 2px 0 rgba(255, 255, 255, .08), 0 1px 2px rgba(0, 0, 0, .3) inset;
}
#content textarea{
	width:555px;
	border-radius:5px;
}
#content input[type = "submit"]{
	width:70px;
	height:35px;
	font-size:20px;
}
.center{
	text-align:center;
}
