.clearfix{
	clear:both;
	display:block;
	overflow:hidden;
	/*
	visibility:hidden;
	*/
}
.thumb{
	height:64px;
	width:64px;
}
.direc {
	color:#B9049C;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
li{
	list-style:none;
}
ul{
	padding:0px;
	margin:0px;
}
body{
	margin:0px ;
}
p{
	padding:0px;
	margin:0px;
}
.stayline{
	text-overflow:ellipsis;
	overflow:hidden;
	line-height:24px;
	white-space:nowrap;
}
#header{
	background:whiteSmoke;
	height:80px;
	margin-top:0px;
	border-bottom:1px solid #DDD;
}
.better{
	overflow:hidden;
	margin:0px; 
	padding:0px;
}
#header li{
	display:inline-block;
	padding:24px 30px 16px 30px;
	font-size:34px;
	color:#C4C4C4;
	margin:0px 57px 0px 57px;
}
#header li:hover{
	color:#000000;
}
.direc {
	color:#B9049C;
}
#header .photo{
	color:#6F6F6F;
	text-shadow:2px 2px 3px #919191;
}
.content{
	width:1080px;
	margin:0px auto;
}
#photo{
	margin-top:40px;
}
#intro{
	height:500px;
	width:140px;
	float:left;
	padding:5px;
	font-size:14px;
	color:black;
}
#intro textarea{
	width:140px;
	border:0px solid transparent;
	height:325px;
	color:#999;
	margin:-3px 0px 0px 0px;
	padding:6px;
}
#intro input{
	padding:0px 3px 0px 3px;
	margin:2px 0px 2px 0px;
}
#main{
	float:left;
	overflow:hidden;
	width:820px;
	min-height:510px;
	text-align:center;
	border-left:1px solid #B9049C;
	border-right:1px solid #B9049C;
}
#thumb{
	width:90px;
	/*
	height:500px;
	*/
	overflow:hidden;
	padding-left:7px;
}
#thumbInner{
	height:455px;
}
#thumb img{
	margin:6px 13px 6px 13px;
}
#thumb p{
	border-style:solid;
	border-radius:20px;
}
#thumb #arrowup{
	border-width:0px 45px 20px 45px;
	border-color: transparent transparent  #B6A0B5 transparent;
	border-radius:5px ;
}
#thumb #arrowdown{
	border-width:20px 45px 0px 45px;
	border-color: #B6A0B5 transparent transparent transparent;
}
#comment li{
	min-height:150px;
	color:#858585;
}
#comment .userInfo {
	width:95px;
	height:139px;
	overflow:hidden;
	margin:5px;
	float:left;
}
#comment .userInfo p{

	font-size:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#comment li .userInfo img{
	margin:9px 0px 12px 14px;
}
.odd{
	background:whiteSmoke;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
}
#comment .commentInfo{
	display:inline-block;
	width:934px;
	padding:9px;
	line-height:24px;
	color:#000000;
}
#judge{
	margin:20px 0px 20px 0px;
	font-size:16px;
}
#face {
	width:644px;
	height:206px;
	margin:4px;
	padding:6px;
	border:1px solid #DDD;
	float:left;
	overflow:hidden;
}
#judge .judgeInfo {
	padding:3px;
	margin:5px 5px -3px 0px;
	width:400px;
	height:213px;
	overflow:hidden;
	border:1px solid #DDD;
	float:left;
}
#upload{
	border:1px solid #DDD;
	width:180px;
}
#submit{
	width:40px;
}
#judge .judgeInfo textarea{
	width:400px;
	height:191px;
	border:1px solid #DDD;
	padding:7px;
}
#judge .judgeInfo span {
	width:160px;
	display:inline-block;
	padding:3px;
}

