form{
	width:330px;
	height:270px;
	padding:5px;
	background:white;
	border-radius:5px;
	overflow:hidden;
}
input{
	font-size:16px;
	padding:4px;
}
input[type = 'file']{
	width:245px;
}
input[type = 'submit']{
	width:62px;
}
textarea{
	width:325px;
	border:1px solid #DDD;
	height:210px;
	margin:4px;
}
#spanintro{
	position:relative;
	margin:-210px 0 0 10px;
	color:rgb(162, 162, 162);
}
