a{
	text-decoration:none;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
#recent a:hover{
	text-decoration:underline;
}
*{
	margin:0px auto;
	padding:0px;
}
li{
	list-style:none;
	float:left;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.content{
	width:1080px;
	margin-bottom:15px;
	overflow:hidden;
}

.st{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#header{
	background:whiteSmoke;
	height:80px;
	border-bottom:1px solid #DDD;
}
#header li{
	display:inline-block;
	padding:16px 26px;
	font-size:34px;
	color:#C4C4C4;
	margin:0px 57px 0px 57px;
}
#header li:hover{
	color:rgb(139, 139, 139);
}
#header .index{
	color:#000000;
	text-shadow:4px 3px 3px #919191;
}
.direc {
	color:#B9049C;
}
.partTitle {
	padding-bottom:15px;
	height:60px
}
.partTitle  p{
	width:300px;
	font-size:27px;
	padding:23px 0px 5px 0px;
	border-bottom:2px solid black;
	text-align:center;
	color:black;
}
#recent li{
	margin:2px;
	width:265px;
	height:80px;
	float:left;
	overflow:hidden;
}
.liImg{
	width:64px;
	height:64px;
	margin:3px;
	float:left;
}
/*
.recon{
	margin-top:5px;
	color:#998EA0;
}
*/
.detail,.detail a{
	overflow:hidden;
	width:194px;
	color:#193047;
	height:35px;
}
.user,.user a{
	font-size:11px;
	margin:3px;
	color:#A0A9B1;
}
.time{
	padding:0px 0px 0px 70px;
}
.author{
	width:120px;
}
