li{
	list-style:none;
}
a{
	text-decoration:none;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
html{
	background:#193047;
	height:100%;
}
body{
	width:1080px;
	height:100%;
}
*{
	margin:0px auto;
	padding:0px;
}
#dir{
	width:250px;
	float:left;
}
#dir .dire{
	background:transparent url("../bgimage/mainDirdeco.png") 0 25px repeat-x;
	text-align:center;
	width:200px;
	height:36px;
}
#dir ul{
	box-shadow:0 -1px 0 rgba(255, 255, 255, .45), 0 1px 2px rgba(190, 190, 190, .6);
	background:#16202B;
	color:#818181;
	font-size:19px;
	margin:25px 30px 2px 33px;
	padding:18px 17px;
	border-radius:4px;
}
#dir li:hover{
	background:#356681;
	color:whitesmoke;
}
li{
	border:none;
	line-height:40px;
	position:relative;
	border-top:1px solid #383838;
	padding:0 0 0 15px;
	background:#0B0F16;
}
.dirmenu {
	background:#0B0F16;
	color:#818181;
}
.liC ,.liC a{
	background:#356681;
	color:white;
}
.tran{
	right:-49px;
	 position:absolute;
	  width:0;height:0;
	 border-bottom:14px dashed transparent;
	 border-top:14px dashed transparent;
	 border-right:14px solid #ECECEC;
}
#content{
	float:left;
	width:600px;
	background:#ECECEC;
	overflow:auto;
	height:100%;
}

#title:focus{
	box-shadow:0 1px 0 rgba(255, 255, 255, .8), 0 0px 9px rgba(163, 163, 163, 0.2) inset;
}
#cont{
	display:inline;
	height:500px;
}
.title{
	box-shadow:0 1px 0 rgba(255, 255, 255, .8), 0 0px 5px rgba(17, 151, 168, .5) inset;
	border-radius:5px 0 0 5px;
	width:500px;
	border:2px solid #193047;
	outline:none;
	padding:5px 4px;
}
.button{
	margin:5px -5px;
	padding:7px;
	color:white;
	width:70px;
	background:#193047;
	border:none;
}
.button:active{
	background:rgb(44, 44, 44);
}
td{
}
.tit{
	position:relative;
}
label[for = 'title']{
	position:absolute;
	top:10px;
	left:10px;
	color:grey;
}
.tit span{
	font-size:10px;
}
.det input[type = "text"]{
	padding:4px 0;	
	margin:0  5px;
}
.col{
	border-bottom:1px solid #D3D3D3;
	display:block;
	padding:5px 0;
}
.item{
	color:rgb(1, 93, 231);
}
.tit label[for = 'cont']{
	position:absolute;
	top:110px;
	left:5px;
}
