.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;

}
html{
	background:#193047;
	height:100%;
}
body{
	width:1080px;
	height:100%;
}
.tt{/*short for textline*/
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
*{
	margin:0px auto;
	padding:0px;
}
.leaft{
	background:#193047;
	overflow:hidden;
}
#dir{
	width:250px;
	float:left;
}

#dir .ip{
	padding:3px 9px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	border:none;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	width:200px;
	padding:4px 0px 4px 14px;
	color:#818181;
	font-size:16px;
	margin:15px 0px 0px 18px;
}
#dir img{
	margin:0 0 -4px -30px;
}
#dir .dire{
	background:transparent url("../bgimage/mainDirdeco.png") 0 25px repeat-x;
	text-align:center;
	width:200px;
	height:36px;
}
#dir ul{
	box-shadow:0 -1px 0 rgba(255, 255, 255, .45), 0 1px 2px rgba(190, 190, 190, .6);
	background:#16202B;
	color:#818181;
	font-size:19px;
	margin:40px 30px 2px 33px;
	padding:18px 17px;
	border-radius:4px;
}
#dir li:hover{
	background:#356681;
	color:whitesmoke;
}
#dir li:last-child{
	border-radius:0px 0px 5px 5px;
}
#dir li:first_child{
	border-radius:5px 5px 0px 0px;
	font-weight:bold;
	background:blue;
}
#dir  li{
	border-right:1px solid #24262C;
	border-left:1px solid #24262C;
	line-height:40px;
	display:block;
	position:relative;
	border-top:1px solid #383838;
	overflow:visible;
}
#dir .dirmenu{
	background:#0B0F16;
}
#dir .liC{
	background:#356681;
	color:white;
}
#dir .tran{
	right:-49px;
	 position:absolute;
	 width:0;height:0;
	 border-bottom:14px dashed transparent;
	 border-top:14px dashed transparent;
	 border-right:14px solid #ECECEC;
}
#dir li a{
	margin:0px 0px 0px 13px;
}
#content{
	float:left;
	width:600px;
	background:#ECECEC;
	overflow:auto;
	height:100%;
}
#content form{
	margin:10px;
}
#content .button{
	margin:0px 0px 5px 0px;
	font-size:18px;
	padding:2px;
}
#title{
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 0px 9px rgba(36, 35, 35, .2) inset;
	border-radius:12px;
	width:360px;
	border:none;
	outline:none;
	padding:8px 4px;
}
#title:focus{
	box-shadow:0 1px 0 rgba(255, 255, 255, .8), 0 0px 9px rgba(163, 163, 163, 0.2) inset;
}
#cont{
	height:500px;
}

