body{
		width:1024px;
		margin:0px auto;
		background:url("images/bg-bgimg");
}
body #leftdir{
		width:170px;
		height:137px;
		float:left;
		/*
		background:yellow;
		*/
}
.dir{
		/*
		background:green;
		*/
		/*
		margin-left:32px;
		*/
}
body #content{

		border: 1px solid #BDBDBD;				
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
/*
		-moz-box-shadow:4px 4px 10px #BDBDBD;
		box-shadow:4px 4px 10px #06C;
		-webkit-box-shadow:4px 4px 10px #06C;
		*/
		box-shadow:1px 1px 8px #848484;
		-webkit-box-shadow:1px 1px 8px #848484;
		-moz-box-shadow:1px 1px 8px #848484;
}
