body{
		/*
		background:url("bgimage/leftdir-main.gif") no-repeat;
		*/
}
body ul{
		/*
		background:blue;
		*/
		height:140px;
		list-style-type:none;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border:1px solid #BDBDBD;					

		box-shadow:0px 1px 1px #848484;
		-webkit-box-shadow:1px 1px 8px #848484;
		-moz-box-shadow:1px 1px 8px #848484;

		/*
		background:-o-linear-gradient(top,#848484 20%,#848484 40%,#848484 60%,#ADADAD  80%);
		background:-moz-linear-gradient(top,#848484,green 8%);
		background:-webkit-gradient(linear,0 0,0 8%,from(#848484),to(white));
		*/
		/*
		background: -webkit-linear-gradient(top,#848484 10%,color-stop(8%,white),yellow);
		background: -moz-linear-gradient(top,#E6E6E6 10%,color-stop(8%,white),yellow);
		background: -o-linear-gradient(top,#E6E6E6 10%,color-stop(8%,white),yellow);
		*/
		/*
		background:-webkit-gradient(radial, 70 56, 5, 70 90, 40, from(#848484), to(rgba(255,255,255,0)), color-stop(0%, #58FAF4));
		*/
		/*background:-webkit-gradient(linear,99 00,0 90,from(#1C1C1C),to(rgba(255,255,255,0)),color-stop(1%,#2E2E2E));
		*/
		background:-webkit-gradient(linear,right top,right 9,from(#E6E6E6),to(rgba(255,255,255,0)),color-stop(9%,#BDBDBD));
		background:-moz-linear-gradient(1px 2px -90deg,#BDBDBD 0%,rgba(255,255,255,0) 14%);

}
body ul li{
		margin-left:-12px;
		padding:2px;				
}
body ul a{
		font-size:18px;				
		text-decoration:none;
}
a:visited{
		color:#6E6E6E;				
}
a:hover{
		color:blue;				
}
/*
a:active{
		color:yellow;				
}
a:link{
		color:white;				
}
*/
