body{
		/*
		background:url("bgimage/leftdir-main.gif") no-repeat;
		*/
}
body ul{
		height:60px;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border:1px solid #BDBDBD;					

		box-shadow:0px 1px 1px #848484;
		-webkit-box-shadow:1px 1px 8px #848484;
		-moz-box-shadow:1px 1px 8px #848484;
}
body ul li{
		list-style-type:none;
		padding:2px;				
		margin-left:-12px;
}
body ul a{
		font-size:18px;				
		text-decoration:none;
}
a:visited{
		color:#6E6E6E;				
}
a:hover{
		color:blue;				
}
/*
a:active{
		color:yellow;				
}
a:link{
		color:white;				
}
*/
