html,body{
	background:#193047;
	margin:0px;
	height:100%;
}
p{
	margin:3px 0;
}
a{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

#content a:hover{
	text-decoration:underline;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
.tt{/*short for textline*/
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
li{
	list-style:none;
}
/*
input[type = 'text'],input[type = 'password']{
	border-radius:25px;
	font-size:14px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	margin:4px 0px 0px 4px;
	padding:4px 0px 4px 14px;
	color:#818181;
	border:none;
	background:rgb(11, 52, 95);
	width:170px;
}
	*/
/*************sea css *************/
#content{
	background:#ECECEC;
	margin:0 0 0 250px;
	overflow:auto;
	min-height:100%;
	/*使用min-height的时候，body和html必须100%
	 */
	position:relative;
	z-index:5;
	min-width:220px;
}
#ulCont{
	margin-bottom:40px;
}
.imgLi {
	width:64px;
	margin:3px;
	height:64px;
	float:left;
}
/*
.detail , .detail a{
	overflow:hidden;
	width:220px;
	color:#193047;
	height:35px;
}
.detail a:hover{
	color:#90A0A8;
}
	*/
.user , .user a{
	font-size:11px;
	margin:3px;
	color:#3F688A;
}
.mprice{
	/*
	 * main price
	 */
	font-size:25px;
}
#title{
	color:rgb(51, 84, 128);
	text-align:center;
	font-size:25px;
	margin-bottom:0px;
}
#info {
	text-align:center;
	margin-top:0px;
}
#info span{
	color:#999;
	text-shadow:0 1px 0 rgb(255,255,255);
	font-size:12px;
	padding:0px 0px 13px 0px;
	background:url("../bgimage/sep-light.gif") 0 bottom repeat-x;
	margin:0px 5px;
}
.thumb{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float:left;
	margin:0 5px 5px 0;
	display:block;
	overflow:hidden;
	position:relative;
}
.thumb img{
	width:64px;
	height:64px;
	border:none;
}
.thumb p{
	position:absolute;
	bottom:0;
	color:white;
	background:rgba(0,0,0,0.7);
	text-align:center;
	width:64px;
}
ul ,li{
	padding:0;
}
.alire{
	margin:20px;
	border-bottom:1px solid #D1D1D1;
	width:100%;
	display:table;
	color:#193047;
	position:relative;
}
.mast{
	/*
	 * master 空间主人信息
	 */
	padding-bottom:10px;
}
.mast blockquote{
	margin:5px 0;
	padding:5px 0;
	border-top:1px dashed rgb(204, 200, 200);
}
.mast img{
	max-width:200px;
	float:left;
}
.atime{
	position:absolute;
	left:70px;
	bottom:0px;
	color:#999;
	text-shadow:0 1px 0 rgb(255,255,255);
}
.info{
	margin-bottom:18px;
	line-height:1.5;
}
.sli{
	/*
	width:65%;
	*/
	position:fixed;
	bottom:0px;
	min-width:273px;
	margin:0 10px;
}
#judge textarea{
	border:1px solid #B9B9B9;
	outline:none;
	border-radius:5px;
	box-shadow:rgba(211, 211, 211, 0.0784314) 0px 1px 0px, rgba(0, 0, 0, 0.298039) 0px 0px 7px inset;
	width:50%;
	float:left;
	min-width:200px;
	margin:2px 0;
}
/*
input[type = 'submit'],input[type = 'button']{
	margin-left:19px;
	padding:5px 15px;
	width:56px;
}
*/
#judge .pholder{
	color:grey;	
	position:absolute;
	left:70px;
	margin:5px;
}
#face{
	overflow:auto;
	margin:0px;
	height:180px;
	font-size:0;
	-webkit-text-size-adjust:none;
}
#face img{
	float:left;
	margin:-1px;
	border:1px solid black;
}
#denglu{
	margin:5px -5px;
	background:#000;
	background:rgba(0,0,0,0.7);
	padding:5px;
	color:white;
}
#denglu >*{
	/*所有的直系子元素
	 */
	float:left;
}
#msgA{
	width:272px;
	position:absolute;
	overflow:hidden;
	left:30px;
	padding:2px;
	background:none repeat scroll 0% 0% rgb(0,0,0);
}
#msgA textarea{
	position:relative;
	z-index:1;
	/*修补其他的不被覆盖的bug
	*/
	width:260px;
	height:150px;
	padding:5px;

}
#msgA p{
	margin:-20px 0 0 15px;
	color:#818181;
}
#msgA input{
	padding:3px 18px 3px 10px;
}
.high{
	color:rgb(255, 16, 16);
}
.mainli{
	float:left;
	position:relative;
	width:290px;
	height:70px;
	margin:1px;
}
#change{
	font-size:14px;
	float:right;
	margin-right:20px;
}
.ji{
	/*judge input
	 * 初始状态是隐藏
	 */
	width:60px;
	height:40px;
	display:none;
	color:#C0C0C0;
	margin:2px 0;
}
.ji:active{
	margin-top:3px;
}
.but{
	float:left;
	width:65px;
}
#comform{
	width:100%;
	background:#193047;
}
@media only screen and (max-device-width:860px){
	#dir{
		position:absolute;
	}
	.content{
		background:white;
	}
}

/*************dir开始**********************/

.butCol{
	border:none;
	border-top: 1px solid #fff; /* Fallback style */ 
	border-bottom: 1px solid rgb(31,31,31); /* Fallback style */ 
	border-top:1px solid rgba(141, 141, 141, 0.5);
	border-bottom:1px solid rgba(32, 31, 31, 0.4);
	/* 网格图案 */
	background-color:rgb(20,62,80);
	background-color:rgba(20,62,80,0.7);
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), 
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), 
	-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), 
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))); 
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), 
	-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), 
	-moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), 
	-moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
	/* 背景大小 */
	-moz-background-size: 3px 3px; 
	-webkit-background-size: 3px 3px; 
	background-size: 3px 3px; 
	border-radius:4px;
	font-size:12px;
}
#hiA{
	/*hide Arrow
	 * */
	display:inline;
	color:#C0C0C0;
}
.hiar{
	background:rgb(20,62,80) url("../bgimage/hideA.jpg") -50px -180px no-repeat;
}
.et{/*short for enter */
	/**要不，简单一点？？没有颜色和其他的，只是大小
	 * **/
	width:60px;
	height:40px;
	color:#818181;
/*
 * border-radius:3px;
 color:#818181;
 font-size:15px;
 text-shadow:0 1px 0 rgba(255, 255, 255, 0.2);
 border-top:1px solid grey;
 box-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
 background:black url("../bgimage/ebt.png") 0 0 repeat-x;
 */
}
.et:active{
	margin-top:1px;
}
.dir a{
	text-decoration:none;
	color:#818181;
}
.dir{
	margin: 5px;
	width: 230px;
	position: fixed;
	top: 0;
	left: 0;
	color:#818181;
}
#dirUl{
	background:#16202B;
	font-size:15px;
	border-radius:4px;
	box-shadow:0 -1px 0 rgba(255, 255, 255, .45), 0 1px 2px rgba(190, 190, 190, .6);
	padding:15px;
	border-right:1px solid #24262C;
	border-left:1px solid #24262C;
	margin:20px 15px 0;
}
.dir li{
	line-height:32px;
	border-top:1px solid #383838;
	padding-left:10px;
}
b{
	color:#5FC2CF;
}
.dir li:hover{
	background:#356681;
	color:whiteSmoke;
}
.dirmenu{
	background:#0B0F16;
}
.liC{
	text-shadow:-2px -1px 5px rgb(0,0,0);
	background:#356681;
	color:whiteSmoke;
}
.liC:after{
	 right:-15px;
	 position:absolute;
	 border-bottom:14px dashed transparent;
	 border-top:14px dashed transparent;
	 border-right:14px solid #ECECEC;
	 content:"";
}
.valTog{
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	border:none;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	width:200px;
	height:21px;
	padding:4px 0px 4px 14px;
	color:#818181;
	font-size:17px;
	outline:none;
	margin:4px;
}
.denter{
	text-align:center;
}
.denter a{
	margin:0 5px;
}
#ent{
	text-align:center;
}
#atten{
	/*
	margin:13px 0px -15px 25px;
	 */
margin:0px;
font-size:18px;
color:#526F86;
}
sup{
	background:#3ADFCB;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
