html,body{
	background:#193047;
	margin:0px;
	height:100%;
}
a{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

#content a:hover{
	text-decoration:underline;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
.tt{/*short for textline*/
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
li{
	list-style:none;
}
/*
input[type = 'text'],input[type = 'password']{
	border-radius:25px;
	font-size:14px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	margin:4px 0px 0px 4px;
	padding:4px 0px 4px 14px;
	color:#818181;
	border:none;
	background:rgb(11, 52, 95);
	width:170px;
}
	*/
/*************sea css *************/
#content{
	background:#ECECEC;
	margin:0 0 0 250px;
	overflow:auto;
	height:100%;
}
.imgLi {
	width:64px;
	margin:3px;
	height:64px;
	float:left;
}
/*
.detail , .detail a{
	overflow:hidden;
	width:220px;
	color:#193047;
	height:35px;
}
.detail a:hover{
	color:#90A0A8;
}
	*/
.user , .user a{
	font-size:11px;
	margin:3px;
	color:#3F688A;
}
.mprice{
	/*
	 * main price
	 */
	font-size:25px;
}
#title{
	color:rgb(51, 84, 128);
	width:98%;
	text-align:center;
	background:url("../bgimage/sep-light.gif") 0 top repeat-x;
	font-size:25px;
	padding-top:25px;
	margin-bottom:0px;
}
#info {
	text-align:center;
	margin-top:0px;
}
#info span{
	color:#999;
	text-shadow:0 1px 0 rgb(255,255,255);
	font-size:12px;
	padding:0px 0px 13px 0px;
	background:url("../bgimage/sep-light.gif") 0 bottom repeat-x;
	margin:0px 5px;
}
.thumb{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float:left;
	margin:0 5px 5px 0;
	display:block;
	overflow:hidden;
	position:relative;
}
.thumb img{
	width:64px;
	height:64px;
}
.thumb p{
	position:absolute;
	bottom:0;
	color:white;
	background:rgba(0,0,0,0.7);
	text-align:center;
	width:64px;
}
#ulCont{
	margin:0px 0px 45px 0px;
}
.alire{
	margin:20px;
	border-bottom:1px solid #D1D1D1;
	width:100%;
	display:table;
	color:#193047;
	position:relative;
}
.mast{
	/*
	 * master 空间主人信息
	 */
	padding-bottom:10px;
}
.mast blockquote{
	margin:5px 0;
	padding:5px 0;
	border-top:1px dashed rgb(204, 200, 200);
}
.mast img{
	max-width:200px;
	float:left;
}
.atime{
	position:absolute;
	left:70px;
	bottom:0px;
	color:#999;
	text-shadow:0 1px 0 rgb(255,255,255);
}
.info{
	margin-bottom:18px;
	line-height:1.5;
}
.sli{
	/*
	width:65%;
	*/
	position:fixed;
	bottom:0px;
	margin:0 10px;
}
#judge textarea{
	border:1px solid #B9B9B9;
	outline:none;
	border-radius:5px;
	box-shadow:rgba(211, 211, 211, 0.0784314) 0px 1px 0px, rgba(0, 0, 0, 0.298039) 0px 0px 7px inset;
	width:50%;
	float:left;
}
/*
input[type = 'submit'],input[type = 'button']{
	margin-left:19px;
	padding:5px 15px;
	width:56px;
}
*/
#judge .pholder{
	color:grey;	
	position:absolute;
	left:10px;
	margin:5px;
}
#face{
	overflow:auto;
	margin:0px;
	height:180px;
}
#face img{
	float:left;
	margin:2px;
}
#denglu{
	margin:5px -5px;
	background:rgba(0,0,0,0.7);
	padding:5px;
	color:white;
}
#denglu >*{
	/*所有的直系子元素
	 */
	float:left;
}
#msgA{
	width:272px;
	position:absolute;
	overflow:hidden;
	left:30px;
	padding:2px;
	background:none repeat scroll 0% 0% rgb(0,0,0);
}
#msgA textarea{
	position:relative;
	z-index:1;
	/*修补其他的不被覆盖的bug
	*/
	width:260px;
	height:150px;
	padding:5px;

}
#msgA p{
	margin:-20px 0 0 15px;
	color:#818181;
}
.high{
	color:rgb(255, 16, 16);
}
.mainli{
	float:left;
	position:relative;
	width:290px;
	height:70px;
	margin:1px;
}
#change{
	font-size:14px;
	float:right;
	margin-right:20px;
}
.ji{
	/*judge input
	 */
	width:50px;
	height:30px;
}
