html,body{
	margin:0px;
	height:100%;
	background:#000;
	background:#3D3c3c url("../bgimage/bg2.png");
	font:15px/1.5 tahoma,arial,宋体b8b\4f53;
	*width:1200px;
	*margin:0 auto;
}
html{
	*width:100%;
}
p{
	margin:3px 0;
}
a{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

#content a:hover{
	text-decoration:underline;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
.tt{/*short for textline*/
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
li{
	list-style:none;
}
/*************sea css *************/
#content{
	background:#ECECEC;
	margin:0 0 0 250px;
	overflow:hidden;
	min-height:100%;
	/*使用min-height的时候，body和html必须100%
	 */
	position:relative;
	z-index:5;
	min-width:220px;
	*margin-left:0px;
	*width:900px;
	*float:left;
}
#ulCont{
	margin-bottom:40px;
}
.imgLi {
	width:64px;
	margin:3px;
	height:64px;
	float:left;
}
.user , .user a{
	font-size:11px;
	margin:3px;
	color:#3F688A;
}
.mprice{
	font-size:25px;
}
#title{
	color:rgb(51, 84, 128);
	text-align:center;
	font-size:25px;
	margin-bottom:0px;
	word-break:break-word;
}
#info {
	text-align:center;
	margin-top:0px;
}
#info span{
	color:#999;
	text-shadow:0 1px 0 rgb(255,255,255);
	font-size:12px;
	padding:0px 0px 13px 0px;
	background:url("../bgimage/sep-light.gif") 0 bottom repeat-x;
	margin:0px 5px;
}
.thumb{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float:left;
	margin:0 5px 5px 0;
	display:block;
	overflow:hidden;
	position:relative;
}
.thumb img{
	width:64px;
	height:64px;
	border:none;
}
.thumb p{
	position:absolute;
	bottom:0;
	color:white;
	background:rgba(0,0,0,0.7);
	text-align:center;
	width:64px;
}
ul ,li{
	padding:0;
}
.alire{
	margin:20px;
	border-bottom:1px solid #D1D1D1;
	width:100%;
	display:table;
	color:#193047;
	position:relative;
}
.mast{
	/*
	 * master 空间主人信息
	 */
	padding-bottom:10px;
}
.mast blockquote{
	margin:5px 0;
	padding:5px 0;
	border-top:1px dashed rgb(204, 200, 200);
}
.mast blockquote img{
	max-width:100%;
}
.mast div img{
	max-width:200px;
	float:left;
}
.atime{
	position:absolute;
	left:70px;
	bottom:0px;
	color:#999;
	text-shadow:0 1px 0 rgb(255,255,255);
}
.info{
	margin-bottom:18px;
	line-height:1.5;
}
.sli{
	position:fixed;
	bottom:0px;
	margin:0 10px;
}
#judge textarea{
	border:1px solid #B9B9B9;
	outline:none;
	border-radius:5px;
	box-shadow:rgba(211, 211, 211, 0.0784314) 0px 1px 0px, rgba(0, 0, 0, 0.298039) 0px 0px 7px inset;
	width:50%;
	float:left;
	min-width:200px;
	margin:2px 0;
}
/*
input[type = 'submit'],input[type = 'button']{
	margin-left:19px;
	padding:5px 15px;
	width:56px;
}
*/
#judge .pholder{
	color:grey;	
	position:absolute;
	left:70px;
	margin:5px;
}
#face{
	overflow:auto;
	margin:0px;
	height:180px;
	font-size:0;
	-webkit-text-size-adjust:none;
}
#face img{
	float:left;
	margin:-1px;
	border:1px solid black;
}
#denglu{
	margin:5px -5px;
	background:#000;
	background:rgba(0,0,0,0.7);
	padding:5px;
	color:white;
	min-width:290px;
}
#denglu >*{
	/*所有的直系子元素
	 */
	float:left;
}
#msgA{
	width:272px;
	position:absolute;
	overflow:hidden;
	left:30px;
	padding:2px;
	background:none repeat scroll 0% 0% rgb(0,0,0);
}
#msgA textarea{
	position:relative;
	z-index:1;
	/*修补其他的不被覆盖的bug
	*/
	width:260px;
	height:150px;
	padding:5px;

}
#msgA p{
	margin:-20px 0 0 15px;
	color:#818181;
}
#msgA input{
	padding:3px 18px 3px 10px;
}
.high{
	color:rgb(255, 16, 16);
}
.mainli{
	float:left;
	position:relative;
	width:290px;
	height:70px;
	margin:1px;
}
#change{
	font-size:14px;
	float:right;
	margin-right:20px;
}
.ji{
	/*judge input
	 * 初始状态是隐藏
	 */
	width:60px;
	height:40px;
	display:none;
	color:#C0C0C0;
	margin:2px 0;
}
.ji:active{
	margin-top:3px;
}
.but{
	float:left;
}
#comform{
	width:100%;
	background:#000;
}
@media only screen and (max-device-width:860px){
	#dir{
		position:absolute;
	}
}
/*************dir开始**********************/
#hiA{
	/*hide Arrow
	 * */
	display:inline;
	color:#C0C0C0;
	background:#000;
}
::-webkit-scrollbar{
	width:6px;
	height:10px;
}
::-webkit-scrollbar-thumb:vertical
{
    background-color: #999;
    -webkit-border-radius: 3px;
}
