/*************************************************************************
    > File Name :  ../../css/bghome.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-17 15:15:35
 ************************************************************************/
li{
    list-style:none;
}
ul{
    padding:0;
    text-align:center;
}
a{
    text-decoration:none;
    color:gray;
}
a:visited{
    color:gray;
}
a:hover{
    text-decoration:underline;
}
a:active{
    color:yellow;
}
body{
    height:100%;
    margin:0px;
    overflow:hidden;
}
#frameCon{
    border:none;
    margin:0;
    border:none;
    position:absolute;
    left:156px;
    top:70px;
    bottom:0px;
    right:0px;
    overflow:hidden;
}
iframe{
    height:100%;
    width:100%;
}
.side{
    width:150px;
    position:absolute;
    background:#363636;
}
.top{
    border-bottom:1px solid #F0F0F0;
}
