li{
    list-style:none;
}
a{
    text-decoration:none;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    content:"";
    height:0px;
    clear:both;
}
html{
    margin:0px;
    height:100%;
    font:15px/1.5 tahoma,arial,宋体b8b\4f53;
}
body{
    max-width:1180px;
    width:100%;
    min-height:100%;
    margin:0px auto;
}

/****************content start**************************/
#content{
    overflow:auto;
    height:100%;
    margin:0 auto;
    max-width:780px;
    padding:0 5px 20px;
}
#cont{
    display:inline;
    height:500px;
}
.button:active{
    background:rgb(44, 44, 44);
}
.proK{
    float:left;
}
.ulPi span{
    cursor:pointer;
}
.ulPi span:hover{
    text-decoration:underline;
}
img{
    height:50px;
}
td{
    text-align:center;
}
th{
}
/**************搜索框*******************/
.title{
    height:13px;
    line-height:13px;
    padding:6px;
    width:94%;
}
.button{
    padding:7px;
    color:white;
    width:65px;
    background:#193047;
    border:none;
    height:29px;
}
label{
    position:absolute;
    bottom:1px;
    left:10px;
    color:grey;
}
.tit span{
    font-size:10px;
}
.item{
    color:rgb(1, 93, 231);
}
p{
    margin:8px 0;
}
ul{
    padding:1%;
}
.pro{
    width:100%;
}
.pro ul{
    margin:0px;
}
.proBl{
    border:1px solid #ececec;
    padding:0 23px;
}
.proK input{
    background:#e0e0e0;
}
input[type = "text"]{
    padding:5px;
    border-radius:2px;
}
.item span{
    font-size:20px;
    color:#F00;
}
.label{
    position:relative;
}
.moreImg{
    text-align:center;
}
.ifc{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.4);
    z-index:2;
}
.ifc div{
    text-align:center;
    width:30%;
    background-color:#fff;
    border-radius:2px;
    margin:10% 35% 0 35%;
    position:relative;
}
.close{
    position:absolute;
    top:-22px;
    right:-14px;
    background:url(../bgimage/arrow.png) -107px -1px no-repeat;
    display:block;
    text-indent:-9999px;
    width:54px;
    height:54px;
}
.ifc iframe{
    border:none;
}
.ichose{
    min-height:100%;
    width:100%;
    background:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    text-align:center;
}

.ichose > div{
    position:relative;
    width:80%;
    margin:5% 10%;
}
.ichose div div{
    background:#000;
    border-radius:2px;
}
.ichose div img{
    max-width:100px;
    height:70px;
}
.ichose img:hover{
    opacity:0.4;
}
.pro1{
    float:left;
    padding:0px;
    text-align:center;
    width:70px;
}
.pro1 li{
    background:green;
}
.pro1 .prochd{
    background:#808080;
}
.pro2{
    background:#808080;
}
.pro2 div{
    border-radius:2px;
    background-color:gray;
    margin:10px 0;
}
#oimg{
    clear:both;
}
.col{
    border-bottom:1px solid #cfcfcf;
    padding-bottom:5px;
}
