/*************************************************************************
    > File Name :  ../../../css/bgItemMan.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-17 02:07:22
 ************************************************************************/
table{
    border-spacing:0px;
    width:100%;
}
.oper{
    width:70px;
}
td{
    text-align:center;
}
