/*************************************************************************
    > File Name :  ../css/cart.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-09-12 19:04:33
 ************************************************************************/
/*
.botmenu{
    position:fixed;
    right:0px;
    bottom:0px;
    background:#0067C5;
    border-radius:7px 0px 0px;
    overflow:hidden;
    min-height:40px;
    width:290px;
}
    */
.order img{
    height:50px;
    max-width:80px;
    float:left;
}
.botAtr{
    float:left;
    overflow:hidden;
    width:104px;
}
.botOpr{
    float:left;
    text-align:center;
    width:90px;
    overflow:hidden;
}
.order li{
    margin:5px;
    border-bottom:1px solid #3672A8;
    max-height:52px;
    overflow:hidden;
}
.order li a,.order li span{
    margin:0 2px;
}
.botmenu{
    position:fixed;
    right:0px;
    bottom:0px;
    background:#fff;
    /*
    background:#0067C5;
    */
    border-left:1px solid #0067C5;
    border-top:1px solid #0067C5;
    border-radius:7px 0px 0px;
    overflow:hidden;
    min-height:40px;
    width:290px;
}
.botmenu a{
    color:#000;
}
.igar{
    width:80px;
    float:left;
    display:block;
}
#atten{
    font-size:1.4em;
    margin-left:10%;
}
.order input[type = 'text']{
    width:22px;
}
.ordor>div{
    float:left;
    width:142px;
    font-size:0.8em;
}
.ordor .buton{
    width:63px;
    height:40px;
    line-height:40px;
    margin:5px;
    text-align:center;
    /*
    background:#744A00;
    */
    border-radius:3px;
}
.addr{
    max-height:30px;
    overflow:hidden;
}
.bcl{
   background:linear-gradient(#DAD229,#BE8319);
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DAD229', endColorstr='#BE8319')";
   box-shadow:1px 1px 5px #9C9C9C;
}
.ba{
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA0A0', endColorstr='#FF3A3A')" ;
    background:linear-gradient(#FFA0A0,#FF3A3A);
    box-shadow:1px 1px 5px #9C9C9C;
}
