/*************************************************************************
    > File Name :  ../css/dir.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-05-21 19:40:04
 ************************************************************************/
.tran{
	right:-49px;
	 position:absolute;
	  width:0;height:0;
	 border-bottom:14px dashed transparent;
	 border-top:14px dashed transparent;
	 border-right:14px solid #ECECEC;
}
.butCol{
	border:none;
	border-top: 1px solid #fff; /* Fallback style */ 
	border-bottom: 1px solid rgb(31,31,31); /* Fallback style */ 
	border-top:1px solid rgba(141, 141, 141, 0.5);
	border-bottom:1px solid rgba(32, 31, 31, 0.4);
	/* 网格图案 */
	background-color:rgb(20,62,80);
	background-color:rgba(20,62,80,0.7);
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), 
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), 
	-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), 
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))); 
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), 
	-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), 
	-moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), 
	-moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
	/* 背景大小 */
	-moz-background-size: 3px 3px; 
	-webkit-background-size: 3px 3px; 
	background-size: 3px 3px; 
	border-radius:4px;
}
#hiA{
	/*hide Arrow
	 * */
	display:inline;
	color:#193047;
	background:rgb(20,62,80) url("../bgimage/hideA.jpg") -110px -180px no-repeat;
}
.hiar{
	background:rgb(20,62,80) url("../bgimage/hideA.jpg") -50px -180px no-repeat;
}
.et{/*short for enter */
	/**要不，简单一点？？没有颜色和其他的，只是大小
	 * **/
	width:60px;
	height:40px;
	color:#818181;
/*
 * border-radius:3px;
 color:#818181;
 font-size:15px;
 text-shadow:0 1px 0 rgba(255, 255, 255, 0.2);
 border-top:1px solid grey;
 box-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
 background:black url("../bgimage/ebt.png") 0 0 repeat-x;
 */
}
.et:active{
	margin-top:1px;
}
.dir a{
	text-decoration:none;
	color:#818181;
}
.dir{
	margin: 5px;
	width: 230px;
	position: fixed;
	top: 0;
	left: 0;
	color:#818181;
}
#seaform{
	margin:10px 0;	
}
#sf{
	background:rgb(11,31,51);
	width:190px;
	float:left;
	padding:0 5px;
	border-radius:5px 0 0 5px;
	line-height:28px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
}
#sf input{
	width:100%;
	outline:none;
	border:none;
	background:rgb(11,31,51);
	color:#818181;
}
#seabut{
	padding:14px;
	color:white;
	background:rgb(5, 21, 37) url("../bgimage/search.png") 6px 9px no-repeat;
	height:28px;
	border-radius:0 5px 5px 0;
	margin:0px;
	border:none;
}
#seabut:active{
	background-color:#020D18;
}
#seaform label{
	float:left;
	margin:-25px 6px;
	font-size:12px;
}
.seatip{
	font-size:10px;
}
#dirUl{
	background:#16202B;
	font-size:15px;
	border-radius:4px;
	box-shadow:0 -1px 0 rgba(255, 255, 255, .45), 0 1px 2px rgba(190, 190, 190, .6);
	padding:15px;
	border-right:1px solid #24262C;
	border-left:1px solid #24262C;
	margin:0 15px;
}
.dir li{
	line-height:32px;
	border-top:1px solid #383838;
	position:relative;
	padding-left:10px;
}
.dir li:hover{
	background:#356681;
	color:whiteSmoke;
}
.dirmenu{
	background:#0B0F16;
}
.liC{
	text-shadow:-2px -1px 5px rgb(0,0,0);
	background:#356681;
	color:whiteSmoke;
}
.valTog{
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	border:none;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	width:200px;
	height:21px;
	padding:4px 0px 4px 14px;
	color:#818181;
	font-size:17px;
	outline:none;
	margin:8px;
}
.denter{
	text-align:center;
}
.denter a{
	margin:0 5px;
}
#ent{
	text-align:center;
}
#atten{
	/*
	margin:13px 0px -15px 25px;
	 */
margin:0px;
font-size:18px;
color:#526F86;
}
sup{
	background:#3ADFCB;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
/************上面的哦是关于dir的东西***********************/
