/*************************************************************************
    > File Name :  ../../css/header.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-26 00:49:26
 ************************************************************************/
.header{
    width:100%;
    position:relative;
}
.logo{
    height:50px;
}
.dl span{
    font-size:2.4em;
    color:#22C8F1;
}
.dl{
    float:left;
}
.nav{
    font-size:1.2em;
    margin-bottom:-15px;
}
.top{
    line-height:25px;
    background:#007BEC;
}

.top a{
    color:black;
    margin:0 5px;
    font-size:0.8em;
}
.rit{
    float:right;
}
.sea{
    position:absolute;
    bottom:10px;
    right:100px;
    white-space:nowrap;
}
.hinf{
    top:0px;
    right:10px;
    position:absolute;
    margin:0px;
}
#inpt{
    box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
    line-height:30px;
    height:30px;
    border-radius:3px 0 0 3px;
    width:400px;
    background:#fff;
    float:left;
}
#inpt input{
    width:98%;
    border:none;
    margin:1%;
    outline:none;
}
#sub{
    border-radius:0 3px 3px 0;
    border:none;
    background:#1B7E72;
    line-height:30px;
    height:30px;
    width:80px;
}
#sub:active{
    background:#173F3A;
}
.htl{
    background:#000;
    content:"";
    height:4px;
    border-radius:2px;
    box-shadow:3px 3px 3px #B9B9B9;
}
.body{
    max-width:1200px;
    min-width:1000px;
    margin:0px auto;
    position:relative;
}
