/*************************************************************************
    > File Name :  ../../css/item.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-02 15:13:16
 ************************************************************************/
ul{
    margin:0px;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:#00A0D3;
}
a:visited{
    color:rgb(168, 168, 168);
}
a:hover{
    text-decoration:underline;
}
.clearfix:after {
    DISPLAY: block; 
    HEIGHT: 0px; 
    VISIBILITY: hidden;
    CLEAR: both;
    overflow:hidden;
    content:"";
}
ul{
    padding:0px;
}
p{
    margin:5px 0;
}
.header{
    width:100%;
    height:100px;
    background:#000;
}
body{
    margin:0px ;
}
#body{
    max-width:1200px;
    min-width:1000px;
    margin:0px auto;
    position:relative;
}
#mImg{
    width:100%;
    max-height:500px;
}
.imgA{
    border:1px solid #F0F0F0;
    width:400px;
    float:left;
}
.thumb {
    padding:0 5px;
}
.thumb li{
    width:65px;
    height:65px;
    float:left;
}
.thumb img{
    width:60px;
    height:60px;
    float:left;
    padding:2px;
}
.thumb img:hover{
    border:2px solid  #5CA28B;
    padding:0;
}
h3{
    margin:5px 0 0 0;
}
.det{
    margin:1em 0;
    padding-left:420px;
    border:1px solid #F0F0F0;
    min-height:400px;
}
.det .info{
    max-width:415px;
}
#allmap{
    width:350px;
    height:400px;
    position:absolute;
    top:0;
    right:0;
}
.sp{
    font-size:2em;
    color:#AD0000;
}
.sep{
    color:#38B;
    font-weight:bold;
}
.det .item{
    font-size:0.8em;
    color:#999;
    margin-right:20px;
    border:none;
}
.ht{
    margin-left:5px;
}
.attr img{
    height:50px;
     border-radius:2px;  
     margin:5px;
     padding:2px;
}
.attr span{
    border:1px solid #E2E2E2;
    border-radius:2px;
    margin:5px;
}
.attr .atvC{
    border:2px solid #128D12;
    padding:0px;
}
.atvC:after{
    background:url(../bgimage/bgmark.gif) 0 -12px no-repeat;
}
.bton{
    height:40px;
    border-radius:2px;
    line-height:40px;
    display:inline-block;
    margin:1%;
    padding:0 5%;
    background:#744A00;
    color:#000;
    border:none;
}
.bton:hover{
    opacity:0.8;
    cursor:pointer;
}
.ba{
    background:#FF7E7E;
}
#buyNum{
    width:30px;
    box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
}
#num button{
    display:inline-block;
    padding:0 5%;
    font-size:1.3em;
    margin:2px;
}
#storeNum{
    font-size:0.8em;
    color:#999;
}
.user{
    width:20%;
    float:left;
    border:1px solid #F0F0F0;
    border-radius:2px;
    overflow:hidden;
}
.pdc {
    float:right;
    width:79%;
    margin-left:0.4%;
    height:500px;
}
.pg li{
    float:left;
    width:33.33333%;
    text-align:center;
    line-height:35px;
    height:35px;
    background:#000;
    color:#fff;
}
.pg .cse{
    /*
    background:-webkit-linear-gradient(top,#000,#3F3F3F, #fff);
    */
    background:#E7e7e7;
    color:black;
}
.des img{
    max-width:100%;
}
.coms a{
    width:20%;
    display:inline-block;
    text-align:center;
}
.coms a:hover{
    background:#E7e7e7;
}
.com li{
    border-top:1px solid #E2E2E2;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
    min-height:5em;
}
.com .cp{
    color:#BBB;
    border-bottom:1px solid #F7F7F7;
    margin:0px;
}
.com span{
    margin:0 10px;
}
.com .sp{
    margin:0 3px;
}
.com blockquote{
    text-indent:2em;
    margin:5px;
}
.reCom{
    text-align:right;
    margin:5px;
    color:#686868;
}
.reCom span{
    font-size:0.8em;
    color:#c5c1c1;
}
.reCom .comRe{
    cursor:pointer;
    font-size:1.2em;
}
.com textarea{
    border:1px solid #A2A2A2;
    width:100%;
    border-radius:2px;
}
.com textarea:focus{
    border:2px solid #ee0;
    outline:1px solid #A2A2A2;
}
.comRe:hover{
    color:#222222;
}
.bot{
    position:fixed;
    right:0px;
    bottom:0px;
    background:#000;
    border-radius:7px 0px 0px;
    color:#919191;
    overflow:hidden;
    min-width:150px;
    min-height:40px;
}
.order img{
    max-height:55px;
    max-width:80px;
}
.til{
    width:170px;
}
.order input[type = 'text']{
    width:22px;
}
.comForm textarea{
    border:1px solid #ADADAD;
    width:100%;
    border-radius:3px;
}
.comForm textarea:focus{
    border:2px solid #ee0;
    outline:1px solid #A2A2A2;
}
.add{
    color:red;
}
#check{
    text-align:center;
    line-height:38px;
    font-size:1.3em;
    height:38px;
    margin-left:40%;
}
.login{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    width:300px;
    height:170px;
    background:#0A3038;
    border-radius:3px;
    padding:5px;
    text-align:center;
    color:#B4B4B4;
}
.login input{
    width:95%;
    border-radius:3px;
    line-height:25px;
}
.but{
    border:1px solid;
    padding:3px;
    border-radius:3px;
    white-space:nowrap;
}
.del{
    text-align:center;
    width:55px;
}
