/*
author:			unasm
email:			douunasm@gmail.com
Last_modified:	2013-05-24 09:01:40
 */
/*****媒体查询测试**/

ul{
	margin:0px;
}
html{
	height:100%;
}
.content a:visited{
	color:rgb(168, 168, 168);
}
.content a:hover{
	text-decoration:underline;
	color:rgb(168, 168, 168);
}
.dir a{
	text-decoration:none;
	color:#818181;
}
.content a{
	text-decoration:none;
	color:#193047;
}
li{
	list-style:none;
}
body{
	height: 100%;
	position: relative;
	margin:0;
	background: #193047;
}
.block{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/**********这些是dir的部分******************/
/*移动到dir.css中去了
 */
.content{
	margin: 0 0 0 250px;
	padding: 0;
	color:#193047;
	background: #ECECEC;
	z-index:5;
	position:relative;
	min-height:100%;
	top:0;
	bottom:0;
}
.content li{
	float: left;
	position: relative;
	width: 280px;
	height: 80px;
	margin: 2px;
	overflow: hidden;
}
.content img{
	width:80px;
	height: 100%;
	top:0;
	left:0;
	z-index: 5;
	position: absolute;
	border:none;
}
.clearfix:after {
	DISPLAY: block; 
    HEIGHT: 0px; 
    VISIBILITY: hidden;
    CLEAR: both;
	overflow:hidden;
}
.content li p{
	margin: 0px 0px 0px  82px;
	padding: 2px;
	clear:both;
}
.content .detail {
	height: 40px;
	width:195px;
	overflow: hidden;
    /*
	font-size: 18px;
    */
	float: left;
	margin-left:82px;
}
.tt{
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.master{
	width: 130px;
	float: left;
}
.time{	float: right;
	margin-right: 5px;
}
.user,.user a{
	font-size:12px;
}
.pageDir{
	clear:both;
	text-align:center;
	padding:10px 0;
	font-size:2em;
	margin:5px;
}
.np:active{
	padding-top:1px;
}
.np{
	padding-bottom:50px;
	padding-top:0px;
	margin-top:0px;
}
#np{
	color:#193047;
}
/*********底部浮动框的css********/
#bottomDir{
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
	background:rgba(0,0,0,0.6);
	width:100%;
	padding:3px;
	z-index:10;
}
.botDirli{
	display:inline;
	padding:8px 15px;
	margin:0 2px;
	background:#193047;
	color:silver;
}
.botDirli:hover{
	padding:12px 20px;
	background:rgb(27, 87, 134);
}
/********底部浮动框****************/


@media only screen and (max-device-width:1980px)
/*
@media all and (max-device-width:1480px)
*/
{
        .content {
            background:#193047;
        }
        .content li{
                background:#ECECEC;
                margin:2px;
        }
        #dir {
            position:absolute;
        }
        .detail{
            display:block;
            float:none;
        }
		.pageDir,.pageDir a,#np{
			color:#A8A8A8;
		}
}
/*****媒体查询的部分*****/


