/*
author:			unasm
email:			douunasm@gmail.com
Last_modified:	2013-06-21 23:36:51
 */
#ie7-warning
{
	position: absolute;
	z-index: 20;
	background: #C50000;
	left:0;
	top:0;
	width:100%;
	padding-bottom: 10px; 
	text-align: center;
	font-size:18px;
}
ul{
	margin:0px;
}
html{
	height:100%;
	background:#3D3c3c url("../bgimage/bg2.png");
	/*
		font-family:"Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
		*/
	font:15px/1.3 tahoma,arial,宋体b8b体4f53;
}
img{
	border:none;
}
.content a:visited{
	color:rgb(168, 168, 168);
}
.dirj a:hover,.content a:hover{
	text-decoration:underline;
	color:rgb(168, 168, 168);
}
button{
	font-size:14px;
}
/***************heng end*******************/
.content a{
	text-decoration:none;
	color:#193047;
}
li{
	list-style:none;
}
body{
	height: 100%;
	position: relative;
	margin:0;
	font-size:100%;
}
.block{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/**********这些是dir的部分******************/
/*移动到dir.css中去了
 */
.content{ 
	margin: 0 0 0 250px;
	padding: 0;
	color:#193047;
	z-index:5;
	position:relative;
	min-height:100%;
	top:0;
	bottom:0;
	background:#fff url("../bgimage/cont.png");
}
.content li{
	float: left;
	position: relative;
	width: 274px;
	height:80px;
	margin:0.5%;
	border:1px solid #A3A3A3;
	box-shadow:2px 1px 2px #E9E9E9;
	padding:3px;
}
.content img{
	width:80px;
	height: 80px;
}
.imgLi{
	top:0;
	left:0;
	z-index: 5;
	margin:3px;
	position: absolute;
}
.userCon{
	position:relative;
	z-index:10;
	background:#036E88;
	padding:3px 0;
}
.userCon img{
	float:left;
}
.userCon p a{
	padding:0 3px;
}
.userCon p{
	float:left;
	margin:2px 0;
}
.fuName{
	width:100px;
	float:left;
}
.mess{
	float:right;
}
.clearfix:after {
	DISPLAY: block; 
    HEIGHT: 0px; 
    VISIBILITY: hidden;
    CLEAR: both;
	overflow:hidden;
	content:"";
}
/******悬浮窗部分****************/
.msgA{
	width:272px;
	z-index:15;
	position:absolute;
	overflow:hidden;
	padding:2px;
	background:none repeat scroll 0% 0% rgb(0,0,0);
}
.msgA textarea{
	position:relative;
	z-index:1;
	/*修补其他的不被覆盖的bug
	*/
	width:260px;
	height:150px;
	padding:5px;

}
.msgA p{
	margin:-20px 0 0 15px;
	color:#818181;
}
.msgA input{
	padding:3px 18px 3px 10px;
}
/*********悬浮窗的结束************/
.content li>p{
	margin: 0px 0px 0px  82px;
	padding: 2px;
}
.content .detail {
	height: 37px;
	width:195px;
	overflow: hidden;
    /*
	font-size: 18px;
    */
	float: left;
	word-break:break-word;
	margin-left:82px;
}
.tt{
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.master{
	width: 120px;
	float: left;
}
.time{	float: right;
	margin-right: 5px;
}
.user,.user a{
	font-size:12px;
}
.pageDir,.pageDir a{
	color:#193047;
}
.pageDir{
	clear:both;
	text-align:center;
	padding:10px 0;
	font-size:2em;
	margin:0px;
	text-shadow:3px 2px 2px #6F6F6F;
}
.np:active{
	padding-top:1px;
}
.np{
	padding-bottom:50px;
	padding-top:0px;
	margin-top:0px;
}
/*********底部浮动框的css********/
#bottomDir{
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
	padding:3px;
	z-index:10;
}
.botDirli{
	display:inline;
	padding:8px 15px;
	margin:0 2px;
	background:#000;
	color:silver;
}
.botDirli:hover{
	padding:12px 20px;
	/*
	background:rgb(27, 87, 134);
	*/
}
/********底部浮动框****************/
@media only screen and (max-device-width:970px)
{
		.content{
			background:none;
		}
        .content li{
             background:#ECECEC;
             margin:2px;
        }
        #dir {
            position:absolute;
        }
        .detail{
            display:block;
            float:none;
        }
		.pageDir,.pageDir a{
			color:#000;
		}
}
/*****媒体查询的部分*****/


