/*************************************************************************
    > File Name :  ../css/msea.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-06-24 16:39:27
 ************************************************************************/
.seabox {
	padding:0 10%;
}
#sf{
	float:left;
	width:80%;
	max-width:600px;
	line-height:30px;
	height:30px;
	border-radius:2px;
	padding:0 5px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
}
#sf input{
	width:100%;
	outline:none;
	border:none;
}
#allmap{
	width:100%;
	height:100%;
	background:green;
}
