/*************************************************************************
    > File Name :  ../css/msea.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-06-24 23:43:51
 ************************************************************************/
body{
	margin:0px;
}
a{
	text-decoration:none;
}
em{
	color:#9B2323;
	margin:0 5px;
	font-size:1.2em;
}
p{
	margin:5px 0;
}
a:hover{
	color:rgb(160,160,160);
	text-decoration:underline;
}
.clearfix:after {
	DISPLAY: block; 
    HEIGHT: 0px; 
    VISIBILITY: hidden;
    CLEAR: both;
	overflow:hidden;
	content:"";
}
.np{
	text-align:center;
	width:100%;
	float:left;
}
.np button{
	padding:2px 10px;
	line-height:25px;
}
.butCol{
	border:none;
	border-top: 1px solid #fff; /* Fallback style */ 
	border-bottom: 1px solid rgb(31,31,31); /* Fallback style */ 
	border-top:1px solid rgba(141, 141, 141, 0.5);
	border-bottom:1px solid rgba(32, 31, 31, 0.4);
	/* 网格图案 */
	background-color:rgb(37,40,41);
	background-color:rgba(37, 40, 41, 0.7);
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), 
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), 
	-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), 
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))); 
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), 
	-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), 
	-moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), 
	-moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
	/* 背景大小 */
	-moz-background-size: 3px 3px; 
	-webkit-background-size: 3px 3px; 
	background-size: 3px 3px; 
	border-radius:4px;
	font-size:12px;
	color:#ECECEC;
}
.seabox {
	height:30px;
	padding:5px 0;
	position:absolute;
	width:100%;
	background:#451A50;
	z-index:1;
}
#sf{
	float:left;
	width:70%;
	max-width:600px;
	height:20px;
	line-height:20px;
	padding:5px;
	border-radius:2px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	margin-left:10%;
	background:#FFF;
}
#sf input{
	width:100%;
	border:none;
	outline:none;
}
.sub{
	height:30px;
}
#allmap{
	height:100%;
	width:100%;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
.limit{
	width:290px;
	min-width:290px;
}
.info{
	right:0;
	top:40px;
	position:absolute;
	overflow-y:auto;
	/*max-height:100%;
	 */
	background:rgba(0, 0, 0, 0.3);
	height:100%;
}
.info li{
	background:#272727;
	background:rgba(0,0,0,0.7);
	overflow:hidden;
	width:290px;
	float:left;
}
.info img,.layImg{
	border-radius:2px;
	width:80px;
	height:80px;
	border:none;
	float:left;
}
.detail {
	DISPLAY:block;
	margin:5px 0;
	color:#D1D1D1;
	word-break:break-word;
	max-height:38px;
	overflow:hidden;
}
.din{
	color:gray;
	font-size:0.8em;
	margin:0;
}
.sde{
	width:10px;
	background:#000;
	cursor:pointer;
	float:left;
	height:90px;
}
.page{
	color:#4B445C;
	line-height:30px;
	height;30px;
	margin:0px;
	text-align:center;
	font-size:1.3em;
	width:100%;
	float:left;
}
.arrow:after{
	 position:absolute;
	 border-right:14px dashed transparent;
	 border-left:14px dashed transparent;
	 border-bottom:8px solid #193047;
	 content:"";
	 top:-8px;
	 left:0;
	 border-radius:2px;
}
.mapli{
	background:"#193047",
	padding:"2px",
	color:"#D1D1D1",
	line-height:"18px",
	whiteSpace:"nowrap",
	font-size:"1em",
	position:"absolute",
	border-radius:2px,
	width:250px	
}
/*
.test{
	width:80px;
	height:80px;
}
	*/
::-webkit-scrollbar{
	width:6px;
	height:10px;
}
::-webkit-scrollbar-thumb:vertical
{
    background-color: #999;
    -webkit-border-radius: 3px;
}
