/*************************************************************************
    > File Name :  ../css/msea.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-06-24 23:43:51
 ************************************************************************/
body{
	margin:0px;
}
a{
	text-decoration:none;
}
em{
	color:#9B2323;
	margin:0 5px;
	font-size:1.2em;
}
a:hover{
	color:rgb(160,160,160);
	text-decoration:underline;
}
.clearfix:after {
	DISPLAY: block; 
    HEIGHT: 0px; 
    VISIBILITY: hidden;
    CLEAR: both;
	overflow:hidden;
	content:"";
}
.seabox {
	height:30px;
	padding:5px 0;
	position:absolute;
	width:100%;
	background:#451A50;
	z-index:1;
}
#sf{
	float:left;
	width:70%;
	max-width:600px;
	height:20px;
	line-height:20px;
	padding:5px;
	border-radius:2px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	margin-left:10%;
	background:#FFF;
}
#sf input{
	width:100%;
	border:none;
	outline:none;
}
.sub{
	height:30px;
}
#allmap{
	height:100%;
	width:100%;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
.limit{
	width:290px;
	min-width:290px;
}
.info{
	right:0;
	top:40px;
	position:absolute;
	overflow-y:auto;
	/*max-height:100%;
	 */
	background:rgba(0, 0, 0, 0.3);
	height:100%;
}
.info li{
	background:#272727;
	background:rgba(0,0,0,0.7);
	overflow:hidden;
	width:290px;
	float:left;
}
.info img{
	border-radius:2px;
	width:80px;
	height:80px;
	border:none;
	float:left;
}
.detail {
	DISPLAY:block;
	margin:5px 0;
	color:#D1D1D1;
	word-break:break-word;
	max-height:38px;
	overflow:hidden;
}
.din{
	color:gray;
	font-size:0.8em;
	margin:0;
}
.sde{
	width:10px;
	background:#000;
	cursor:pointer;
	float:left;
	height:90px;
}
.page{
	color:#4B445C;
	line-height:30px;
	height;30px;
	margin:0px;
	text-align:center;
	font-size:1.3em;
}
::-webkit-scrollbar{
	width:6px;
	height:10px;
}
::-webkit-scrollbar-thumb:vertical
{
    background-color: #999;
    -webkit-border-radius: 3px;
}
