a{
	text-decoration:none;
}
#content a:hover{
	text-decoration:underline;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
li{
	list-style:none;
}
html{
	margin:0px;
	height:100%;
	background:#000;
	background:-webkit-linear-gradient(left,#000, #585858,#000);
	font:15px/1.5 tahoma,arial,宋体b8b\4f53;
}
body{
	height:100%;
	width:600px;
	margin:0 auto;
}
#dir{
	width:250px;
	float:left;
}
#search
{
	padding:3px 9px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	border:none;
	box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
	width:200px;
	padding:4px 0px 4px 14px;
	color:#818181;
	font-size:16px;
	margin:15px 0px 0px 18px;
	background:#1A263C; 
}
#content{
	width:600px;
	background:#ECECEC;
	overflow-y:auto;
	padding:0;
	min-height:100%;
	margin:0 auto;
}
#content p{
	margin:6px 15px;
}
input[type = "text"],input[type= "password"]{
	padding:6px;
	border-radius:15px;
	width:240px;
	outline:none;
}
#incheck{
	width:150px;
}
#check{
	margin-bottom:-10px;	;
}
input:focus{
	box-shadow:0 2px 0 rgba(255, 255, 255, .08), 0 1px 2px rgba(0, 0, 0, .3) inset;
}
#content textarea{
	width:555px;
	border-radius:5px;
}
#content input[type = "submit"]{
	width:70px;
	height:35px;
	font-size:20px;
}
.center{
	text-align:center;
}
/*****************map*******/
#allmap{
	width:100%;
	height:200px;
}
#l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}
#r-result{height:100%;width:20%;float:left;}
/*********end of map******************/
#content p span{
	float:right;
}
.safe{
	color:green;
}
.dan{
	color:red;
}
