a{
	text-decoration:none;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
#recent a:hover{
	text-decoration:underline;
}
*{
	margin:0px auto;
	padding:0px;
}
li{
	list-style:none;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.content{
	width:1080px;
	margin-bottom:15px;
	overflow:hidden;
}
#header{
	background:whiteSmoke;
	height:80px;
	border-bottom:1px solid #DDD;
}
#header li{
	display:inline-block;
	padding:16px 26px;
	font-size:34px;
	color:#C4C4C4;
	margin:0px 57px 0px 57px;
	float:left;
}
#header li:hover{
	color:rgb(139, 139, 139);
}
#header .index{
	color:#000000;
	text-shadow:4px 3px 3px #919191;
}
.direc {
	color:#B9049C;
}
.liImg{
	width:70px;
	height:70px;
	margin:3px;
	float:left;
}
/**********************/
.thumb{
	width:64px;
	height:64px;
}
.content{
	width:1080px;
	margin:0px auto;
}
#photo{
	border-bottom:1px solid rgb(223, 223, 223);
	margin-top:40px;
}
#intro{
	height:500px;
	width:140px;
	float:left;
	overflow:hidden;
}
#intro textarea{
	width:140px;
	height:450px;
	color:#999;
	padding:2px;
	border:none;
}
#intro input{
	padding:6px;
	font-size:20px;
	margin:10px;
	width:115px;
}

#main{
	float:left;
	overflow:hidden;
	width:820px;
	min-height:510px;
	text-align:center;
	border-left:1px solid #B9049C;
	border-right:1px solid #B9049C;
	height:505px;
	position:relative;
}
#mainName span{
	background:rgba(0,0,0,0.7);
	padding:10px 20px;
	color:white;
	font-size:20px;
	border-radius:5px;
}
#mainName{
	position:absolute;
	bottom:0;
	text-align:center;
	width:820px;
}
.leftarrow ,.rightarrow{
	width:52px;
	height:52px;
	position:absolute;
	top:200px;
	display:inline-block;
}
.leftarrow{
	background:url(../bgimage/arrow.png) -216px -4px no-repeat;
	left:5px;
} 
.rightarrow{
	background:url(../bgimage/arrow.png) -270px -4px no-repeat;	
	right:5px;
}
#main span:hover{
	opacity:0.6;
}
#thumb{
	width:90px;
	overflow:hidden;
	padding-left:7px;
}
#thumbInner{
	overflow:hidden;
	height:455px;
}
#thumb img{
	margin:6px 13px 6px 13px;
}
#thumb p{
	border-style:solid;
	border-radius:20px;
}
#arrowup{
	border-width:0px 45px 20px 45px;
	border-color: transparent transparent  #B6A0B5 transparent;
}
#arrowup:active{
	border-color: transparent transparent  rgb(104, 68, 101) transparent;
}
#arrowdown{
	border-width:20px 45px 0px 45px;
	border-color: #B6A0B5 transparent transparent transparent;
}
#arrowdown:active{
	border-color:rgb(104, 68, 101) transparent transparent transparent;
}
#comUl li{
	padding:15px 15px 0 15px;
	min-height:100px;
	border-bottom:1px solid rgb(223, 223, 223);
	position:relative;
}
#comUl .liImg{
	float:left;
	margin:15px;
}
#comUl .title{
	margin-bottom:18px;
	line-height:25px;
}
#comUl .user{
	color:grey;
	position:absolute;
	bottom:0;
	right:0;
}
#judge{
	margin:20px 0px 20px 0px;
	font-size:16px;
}
#face {
	width:644px;
	height:206px;
	margin:4px;
	padding:6px;
	border:1px solid #DDD;
	float:left;
	overflow:hidden;
	font-size: 0;
    -webkit-text-size-adjust:none;
}
#face img{
	height:50px;
	margin:-1px;
	border:1px solid black;
}
#judge .judgeInfo {
	padding:3px;
	margin:5px 5px -3px 0px;
	width:400px;
	height:213px;
	overflow:hidden;
	border:1px solid #DDD;
	float:left;
}
#upload{
	border:1px solid #DDD;
	width:180px;
}
#submit{
	width:40px;
}
#judge .judgeInfo textarea{
	width:400px;
	height:191px;
	border:1px solid #DDD;
	padding:7px;
}
#judge .judgeInfo span {
	width:160px;
	display:inline-block;
	padding:3px;
}
#uparea{
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.6);
	top:0;
	padding-top:100px;
	position:absolute;
}
#uparea iframe{
	width:400px;
	height:300px;
	margin:0px auto;
	display:block;
}
#cancel{
	height:20px;
	width:20px;
	position:absolute;
	top:10px;
	right:5px;
}
#inner{
	width:350px;
	position:relative;
	margin:0 auto;
}
