/*************************************************************************
    > File Name :  ../../../css/timeorder.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-07 00:51:52
 ************************************************************************/
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
a:visited{
    color:#A7A7A7;
}
table{
    width:100%;
}
td{
    border-bottom:1px solid #40B8D6;
    margin:0px;
    text-align:center;
}
.det p{
    border:1px solid #e0e0e0;
}
th{
    margin:0px;
    border-bottom:1px solid #40B8D6;
    color:#4BBDFD;
    padding:5px 0;
}
p{
    margin:2px 0;
}
.byer{
    font-size:0.8em;
}
.addr{
    max-width:300px;
    font-size:0.8em;
}
.oper{
    width:34px;
}
.oid{
    width:50px;
}
