*{
	margin:0px auto;
	padding:0px;
}
body{
	background:#2C4762 url("../bgimage/background2.png") top repeat-x;
}
.styleLine{
	text-overflow:ellipsis;
	white-space:nowrap;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	height:0px;
	content:"";
	clear:both;
}
li{
	list-style:none;
}
#header{
	margin-bottom:25px;
	height:90px;
	width:960px;
	background:#193047;
	-moz-border-radius:0px 0px 25px 25px;
	webkit-border-radius:0px 0px 25px 25px;
	border-radius:0px 0px 25px 25px;
}
#header li{
	float:left;
	padding:25px 85px;
	font-size:30px;
	color:#838383;
}
#header .choose{
	text-shadow:1px 1px 8px white, 1px 0px 2px #BDBDBD;
	color:#A2A2A2;
}
.divsion{
	width:960px;
	margin-bottom:25px;
	display:block;
	/*background:white;
	 */
	/*margin:5px 0px;
	 */
}
.partTitle{
	height:27px;
}
.partTitle p{
	text-align:center;
	color:#C7C7C7;
	font-size:24px;
}
.partLi{
	float:left;
	width:230px;
	height:70px;
	margin:5px;
}
.liImg{
	margin:3px 2px;	
	float:left;
	height:64px;
	width:64px;
}
.detail{
	/*
	float:left;
	*/
	overflow:hidden;
	height:40px;
	/*
	color:#C5C5C5;
	我不知道是灰白色比较好，还是黑色更好
	*/
	color:#0E1635;
	font-size:17px;
	margin:4px 0px 0px 0px;
}
.detail:hover{
	color:#9EB2C2;
}
.comInfo{
	float:left;
	font-size:10px;
	color:#0F1A24;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:143px;
	margin:0px;
}

.author{
	width:60px;	
	overflow:hidden;
	display:inline-block;
}
.time{
	float:right;
}
#recommend{
	margin-bottom:20px;
}
