a{
	text-decoration:none;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
a:visited{
	color:rgb(138, 155, 172);
}
a:hover{
	text-decoration:underline;
}
ul{
	margin:0px;
}
li{
	list-style:none;
	float:left;
}
body{
	margin:0px;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.st{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#header{
	background:whiteSmoke;
	line-height:85px;
	border-bottom:1px solid #DDD;
	overflow:hidden;
}
.header li {
	font-size:20px;
	color:#C4C4C4;
	width:20%;
}
.header .himg{
	margin:3px;
	width:80px;
}
#header li:hover{
	color:rgb(139, 139, 139);
}
#header .index{
	color:#000000;
	text-shadow:4px 3px 3px #919191;
}
.direc {
	color:#B9049C;
}
/**************以上是sapce必备的css***********/
.partT{
	text-align:center;
}
.partT > span{
	padding:0 14px;
	border-bottom:2px solid #000;
	font-size:2em;
}
.partTitle  p{
	width:300px;
	font-size:27px;
	padding:23px 0px 5px 0px;
	border-bottom:2px solid black;
	text-align:center;
	color:black;
}
.content li{
	margin:2px;
	width:280px;
	height:80px;
	float:left;
	overflow:hidden;
}
.liImg{
	width:80px;
	height:80px;
	float:left;
}
.detail{
	overflow:hidden;
	width:197px;
	color:#193047;
	height:40px;
	float:left;
}
.detail:hover{
	color:rgb(138, 155, 172);
}
.user{
	font-size:11px;
	color:#A0A9B1;
	float:left;
	margin:2px 4px;
	width:190px;
}
.user a{
	color:#A0A9B1;
}
.time{
	padding-left:15px;
}
.author{
	width:120px;
}
.part{
	float:right;
	margin-right:5px;
}
#join{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background:whiteSmoke;
}
.price{
	float:right;
	margin-right:5px;
}
@media only screen and (max-device-width:870px)
/*
@media all and (max-device-width:1480px)
*/
{
	ul{
		padding-left:10px;
	}
	body,#header{
		background:#193047;
		border-bottom:1px solid #16454E;
	}
	.content li{
		background:#ECECEC;
	}
	.content:nth-child(even){
		background:#193047;
	}
	#join{
		background:none;
		border:none;
	}
}
/*****媒体查询的部分*****/
