/*************************************************************************
    > File Name :  ../../css/waimai.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-26 00:53:09
 ************************************************************************/
body{
    margin:0;
}
a{
    text-decoration:none;
    color:black;
}
a:visited{
    color:#e0e0e0;
}
a:hover{
    text-decoration:underline;
}
.header{
    height:100px;
    width:100%;
    position:relative;
    background:black;
}
#inpt{
    box-shadow:0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset;
    line-height:30px;
    height:30px;
    border-radius:3px 0 0 3px;
    width:400px;
    background:#fff;
    float:left;
}
.sea{
    position:absolute;
    bottom:10px;
    right:100px;
    white-space:nowrap;
}
#inpt input{
    width:98%;
    border:none;
    margin:1%;
    outline:none;
}
#sub{
    border-radius:0 3px 3px 0;
    border:none;
    background:#1B7E72;
    line-height:30px;
    height:30px;
    width:80px;
}
#sub:active{
    background:#173F3A;
}
#body{
    width:1050px;
    margin:0px auto;
}
.shop{
    float:left;
    width:200px;
    margin:5px;
}
.shop img{
    width:100%;
    height:150px;
}
.shop p{
    margin:3px 0;
}
.shop .det{
    font-size:0.7em;
    color:#979797;
}
.det .impt{
    font-size:1.4em;
    font-weight:bold;
    color:#00887D;
}
