li{
	list-style:none;
}
a{
	text-decoration:none;
}
.block{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
	height:0px;
	clear:both;
}
html{
	margin:0px;
	height:100%;
	background:#000;
	background:-webkit-linear-gradient(left,#000, #272727,#000);
	font:15px/1.5 tahoma,arial,宋体b8b\4f53;
}
body{
	width:700px;
	min-height:100%;
	margin:0px auto;
}
#dir{
	width:250px;
	float:left;
}
#dir ul{
	box-shadow:0 -1px 0 rgba(255, 255, 255, .45), 0 1px 2px rgba(190, 190, 190, .6);
	background:#000;
	color:#818181;
	font-size:19px;
	margin:25px 30px 2px 33px;
	padding:18px 17px;
	border-radius:4px;
}
#dir li:hover{
	background:#272727;
	color:whitesmoke;
}
li{
	border:none;
	line-height:40px;
	position:relative;
	border-top:1px solid #383838;
	padding:0 0 0 15px;
	color:#818181;
}
.liC ,.liC a{
	background:#356681;
	color:white;
}
#content p{
	margin:5px 0;
}
/****************content start**************************/
#content{
	width:587px;
	background:#ECECEC;
	overflow:auto;
	height:100%;
	margin:0 auto;
	padding:5px;
}
#cont{
	display:inline;
	height:500px;
}
.nobr{
	white-space:nowrap;
}
/*
.title{
	box-shadow:0 1px 0 rgba(255, 255, 255, .8), 0 0px 5px rgba(17, 151, 168, .5) inset;
	border-radius:5px 0 0 5px;
	width:500px;
	border:2px solid #193047;
	outline:none;
	padding:5px 4px;
}
*/

.button:active{
	background:rgb(44, 44, 44);
}
/**************搜索框*******************/
.tit{
	position:relative;
	display:block;
	padding:4px;
	font-size:12px;
}
.tit div{
	float:left;
	height:25px;
	padding:2px;
	width:500px;
	border-radius:5px 0 0 5px;
	background:#193047;
}
#title{
	height:13px;
	line-height:13px;
	padding:6px;
	width:492px;
}
.button{
	padding:7px;
	color:white;
	width:65px;
	background:#193047;
	border:none;
	height:29px;
}
label[for = 'title']{
	position:absolute;
	top:10px;
	left:10px;
	color:grey;
}
.tit span{
	font-size:10px;
}
/**************/
.det input[type = "text"]{
	padding:4px 0;	
	margin:0  5px;
}
.item{
	color:rgb(1, 93, 231);
}
/*
.tit label[for = 'cont']{
	position:absolute;
	top:110px;
	left:5px;
}
	*/
